<footer class="footer">
    <h4 class="footer-heading">© OMDENA</h4>
    <hr class="footer-hr">
    <p class="footer-subheading">VIT Bhopal Local Chapter</p>
    <p class="footer-txt">Vellore Institute of Techonolgy University</p>
    <hr>
    <div class="footer-right">

        <a href="https://omdena.com/"><i class="fa-brands fa-google fa-bounce" style="color: #fdf50d;"></i></i></a>
        <a href="https://www.linkedin.com/company/omdena-bhopal-chapter/"><i class="fa-brands fa-linkedin fa-bounce" style="color: #00ffd5;"></i></i></a>
        <a href="https://github.com/OmdenaAI"><i class="fa-brands fa-github fa-bounce" style="color: #3fff0a;"></i></i></a>
        <a href="omdena@vitbhopal.ac.in"><i class="fa-sharp fa-solid fa-envelope fa-bounce" style="color: #ff0000;"></i></a>

    </div>

</footer>
</body>
    
</html>