<%- include('partials/header2.ejs'); -%>

<section id="1overview">
    <div class="overview">
        <div class="overview-content">
            <div class="left-overview">
                <img class="overview-img" src="/images/AI-Guidelines-GIF.gif">
            </div>
            <div class="right-overview">
                <h1>Overview</h1>
                <hr>
                <br>
                <div class="overview-content">
                    <p>Our global Omdena community chapter is dedicated to harnessing the potential of AI to tackle real-world challenges, emphasizing collaboration, compassion, curiosity, and consciousness. We've demonstrated our commitment through projects like Water Quality Monitoring, using satellite imagery for safe water sources, and Road Inspection, revolutionizing road condition management. Join us as we expand and work towards a brighter future with AI-driven solutions. Together, we can drive meaningful change and make a positive impact.</p>
                </div>
            </div>
        </div> 
    </div>
</section>
<section id="1project1">
    <div class="project1-main-container">
        <h1>Monitoring the Water Quality in Bhopal Region using Satellite Imagery and GIS Techniques</h1>
        <hr>
        <br>
        <div class="background">
            <div class="img-background">
                <img class="img-back" src="/images/bhopal-gas-tragedy_1557259202.jpg">
            </div>
            <div class="content-background">
                <h3>Background</h3>
                <hr class="hr-1">
                <br>
                <p>In the 1980s, Bhopal witnessed a catastrophic industrial disaster, highlighting the grave consequences of industrial pollution. The aftermath of the 1984 gas tragedy still plagues the region, notably affecting water quality. Toxic substances released from the Union Carbide India Limited (UCIL) pesticide plant have severely contaminated groundwater, surface water, and the city's lakes. Extensive testing revealed dangerous levels of pollutants like lead, mercury, cadmium, Gamma HCH, Lindane, Beta HCH, Styrene, Mercury, Alpha HCH, Alpha Naphthol, Phosgene, and Dichlorobenzene in nearby communities. Bhopal grapples with deteriorating lake water quality due to volatile organic compounds (VOCs), pesticides, herbicides, and Polycyclic aromatic hydrocarbons, leading to aquatic life decline and rendering the waters unfit for recreation.</p>
            </div>
            
        </div>
        <div class="problem">
            <div class="content-problem">
                <h3>The Problem</h3>
                <hr class="hr-1">
                <br>
            <p>Bhopal, known as "The City of Lakes," is marked by an abundance of water bodies, but it bears the grim legacy of the Gas Tragedy. Surveys conducted by local campaign groups reveal the presence of six United Nations-banned persistent organic pollutants in the environment, posing severe threats to both the ecosystem and human health. This contamination now extends to 42 areas in Bhopal, with a distressing trend of intergenerational disabilities. Additionally, the release of methyl isocyanide during the Gas Tragedy has led to the formation of harmful byproducts when it reacts with water, including chloroform and carbon tetrachloride, far exceeding safety guidelines. A pressing need to investigate Bhopal's lakes emerges.</p>
            </div>
            <div class="img-problem">
                <img class="img-prob"src="/images/vile-dribbble.gif">
            </div>
            
        </div>
        <div class="goals">
            <div class="img-goal">
                <img class="img-g" src="/images/marketing-goals.gif">
            </div>
            <div class="content-goal">
                <h3>The Project Goals</h3>
                <hr class="hr-1">
                <br>
                <p>This study aims to develop a Machine Learning system for monitoring the water quality of multiple lakes in the Bhopal region using satellite imagery and GIS techniques. The objective is to assess the water quality, detect the probable causes of water pollution and predict the potential impacts of different pollution sources on the environment and human health. The study will use a combination of remote sensing techniques, image processing methods, and GIS tools to extract relevant information from satellite data. Additionally, the system will enable real-time monitoring of water quality, allowing for timely intervention in case of any deterioration in water quality.</p>
            </div>
            
        </div>
        <div class="tech">

            <div class="content-tech">
                <h3>Technologies Used</h3>
                <hr class="hr-1">
                <br>
            <p>Our water quality monitoring project utilizes cutting-edge technology, leveraging Google Earth Engine (GEE), a cloud-based platform, to analyze extensive geospatial data, including satellite imagery and datasets. GEE helps us detect water quality changes by analyzing spectral signatures, identifying pollution or environmental stress areas. We also employ Geographic Information System (GIS) techniques for in-situ sensor data collection and analysis, producing water quality parameter maps and predictive models. This GEE and GIS integration offers a comprehensive understanding of water quality dynamics, guiding effective environmental management. Our project brochure showcases insights from monitoring lakes, demonstrating the power of these technologies in safeguarding water resources.</p>
            </div>
            <div class="img-tech">
                <img class="img-t" src="https://softflow.ca/wp-content/uploads/2022/06/cloud_computing.gif">
            </div>
        </div>
        <br>
        <hr>
        <div class="button">
            <h3>To find more and detailed information about project along with its working</h3>
            <button class="btn1"><a href="https://vaasu2002-omdena-bhopal-water-quality-dashboard-main-pzjmtf.streamlit.app/#monitoring-the-water-quality-in-bhopal-region-using-satellite-imagery-and-gis-techniques">Know More</a></button>
        
        </div>
    </div>
  
</section>
<section id="1project2">
    <div class="project2-main-container">
        <h1>Bhopal Mexico AI Based Road Inspection System</h1>
        <hr>
        <br>
        <div class="background">
            <div class="img-background">
                <img class="img-back" src="/images/61826915d734e7d4cc212ec6_the_use_of_artificial_intelligence.png">
            </div>
            <div class="content-background">
                <h3>Background</h3>
                <hr class="hr-1">
                <br>
                <p>Current road inspection practices are labor-intensive and time-consuming, with road surfaces deteriorating daily due to heavy traffic. This degradation not only affects driver comfort but also hampers economic efficiency. To ensure efficient road maintenance, municipalities conduct routine inspections. The project's goal is to leverage machine learning to study and analyze various road defects, automating the detection of abnormalities. Our objective is to design, construct, and evaluate an inspection system for this purpose, streamlining the process and enhancing road quality and safety.</p>
            </div>
            
        </div>
        <div class="problem">
            <div class="content-problem">
                <h3>The Problem</h3>
                <hr class="hr-1">
                <br>
            <p>Road inspections are currently time-consuming and labor-intensive, causing daily wear due to heavy traffic, impacting both driver comfort and economic efficiency. To address this, our project employs machine learning to detect road defects and abnormalities automatically. We'll design, construct, and test an inspection system equipped with cameras for data collection on roads with and without defects. The captured data will undergo analysis using Matlab's machine learning toolbox to train and test the network. Ultimately, the system will provide actionable recommendations for municipalities to rectify road defects. Our approach comprises three key tasks: data acquisition, data training/testing, and dashboard creation/testing, streamlining road maintenance and enhancing overall efficiency.</p>
            </div>
            <div class="img-problem">
                <img class="img-prob"src="/images/1_GM8W8pVmtLvTGyZSecsezw.png">
            </div>
            
        </div>
        <div class="goals">
            <div class="img-goal">
                <img class="img-g" src="/images/image_processing20220128-15506-hxjpcl.gif">
            </div>
            <div class="content-goal">
                <h3>The Project Goals</h3>
                <hr class="hr-1">
                <br>
                <p>This project's objective is to create, validate, and implement an inspection system utilizing machine learning for the detection of road abnormalities, defects, and damages. The system's primary aim is to streamline road inspections, reducing time and labor requirements. It will incorporate cameras to capture video streams from various roads, with data analysis carried out through the Matlab machine learning toolbox for network training and testing. The system will generate recommended actions for municipal authorities to rectify identified road issues. The project encompasses three core phases: data acquisition, data training/testing, and the development and testing of a user-friendly dashboard. Ultimately, this system will optimize road maintenance, enhance driver comfort, and boost economic efficiency while providing valuable insights into the root causes of road abnormalities in Indian urban and rural areas.</p>
            </div>
            
        </div>
        <div class="tech">

            <div class="content-tech">
                <h3>Technologies Used</h3>
                <hr class="hr-1">
                <br>
            <p>
                Our road inspection system employs advanced technology for automated detection of road defects and damages. Equipped with HD cameras, it captures live video streams from roads, enabling comprehensive data collection. Using the Matlab machine learning toolbox, the system analyzes this data, training and testing a network to accurately categorize road flaws. By harnessing machine learning and image processing, it detects issues like cracks, patching, rutting, and deformation. It enhances efficiency by offering recommended actions for municipalities to address these problems. The system features a user-friendly dashboard and graphical interface for real-time visualization and reporting. This project exemplifies how technology streamlines road inspections and enhances infrastructure maintenance.</p>
            </div>
            <div class="img-tech">
                <img class="img-t" src="/images/dribbble-shot_6.gif">
            </div>
        </div>
        <br>
        <hr>
        <div class="button">
            <h3>To find more and detailed information about project along with its working</h3>
            <button class="btn1"><a href="https://github.com/OmdenaAI/bhopal-mexico-ai-road-inspection">Know More</a></button>
        
        </div>
    </div>
  
</section>

<%- include('partials/footer.ejs'); -%>
